.comment-input {
    padding: 3px 5px;
    border: 1px solid white;
    border-radius: 5px;
    resize: none;
    color: white;
    background-color: #222;
    width: 340px;
    margin-left: 20px;
}

.new-comment {
    display: inline-flex;
    margin-bottom: 10px;
}

.comment-input:focus {
    background-color: #fff;
    border-color: grey;
    color: black;
}

.comment-input::placeholder {
    color: white;
}

.new-comment button {
    margin: auto 0px auto 10px;
}