.modal-body {
    text-align: center;
    justify-content: center;
}

.modal-body input {
    border: 0;
    margin: 5px;
    width: 200px;
}

.account-input {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 3px;
    margin: 3px;
}

.greeting {
    font-weight: 500;
    color: #21a1af;
}