.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.logo {
  height: 60px;
  width: 60px;
  pointer-events: none;
  margin: 10px;
  cursor: pointer;
}

.banner {
  background-color: white;
  color: black;
  border-bottom: 1px solid grey;
}

.banner .title {
    left: 45%;
    position: absolute;
    margin-top: 15px;
    font-size: 32px;
}

strong {
    position: relative;
}

#menu-toggle {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 30px;
    cursor: pointer;
}

.hamburger {
    width: 40px;
    background-color: #21a1af;
    height: 4px;
    margin-bottom: 6px;
}

nav {
    background-color: #eee;
    font-size: 16px;
    border-bottom: 1px solid grey;
}