#website-title {
    color: #21a1af;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.logo {
    height: 60px;
    width: 60px;
    pointer-events: none;
    margin: 10px;
    cursor: pointer;
}

.banner {
    background-color: white;
    color: black;
    border-bottom: 1px solid grey;
}

.banner .title {
    font-size: 32px;
    color: #21a1af;
    font-weight: 500;
    text-align: center;
    margin: auto;
}

.banner strong {
    position: relative;
}

#menu-toggle {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.log-in-menu {
    margin: auto;
    text-align: right;
}

.accounts {
    position: relative;
    margin-right: 10px;
    font-size: 20px;
}

.hamburger {
    width: 40px;
    background-color: #21a1af;
    height: 4px;
    margin: 5px 0px;
}