.foods-table {
    .table {
        border: 1px solid #ddd;
    }
    .add-remove {
        padding: none;
        cursor: pointer;
        button {
            border: none;
            background: transparent;
        }
        .add {
            font-weight: bold;
            font-size: 20px;
            color: green;
        }
        .remove {
            font-weight: bold;
            font-size: 20px;
            color: red;
            display: none;
        }
    }
    @media screen and (max-width: 768px) {
        .table>thead>tr>th { 
            padding: 2px;
            vertical-align: auto; 
        }
        .table>tbody>tr>td { 
            padding: 2px;
            vertical-align: auto; 
        }
    }
}