@import '../../variables.scss';

.new-post-container {
    border: 1px solid black;
    border-radius: 7px;
    background: white;
    margin-top: 20px;
    padding: 30px 30px;
}

.modal-body { 
    .blog-posts-header {
        display: none;
    }
    .new-post {
        text-align: left;
        .new-post-container {
            border: none;
            margin-top: 0px;
            padding-left: 5px;
        }
    }
}

.new-post { 
    input {
        margin: 20px;
    }
    textarea {
        padding: 3px 5px;
        border: 1px solid black;
        border-radius: 5px;
    }
}

.blog-title {
    padding: 3px 5px;
    font-size: 20px;
    width: 80%;
    resize: none;
    height: 38px;
    margin-bottom: 20px;
}

.blog-body {
    width: 100%;
    margin-bottom: 20px;
}

.submit-post {
    width: 250px;
}

@media screen and (max-width: 768px) {
    .submit-post {
        width: 80%;
    }
}