.home-page {
    margin: 20px auto 0px auto;
    color: white;
    .home-image {
        img {
            border-radius: 10px;
            border: 1px solid black;
            margin-top: 10px;
        }
    }
    .apple-badge {
        margin-top: 20px;
    }
    .text {
        margin: auto;
        font-size: 20px;
    }
    img {
        width: inherit;
    }
    #apple {
        position: absolute;
        width: auto;
        margin-top: 10px;
    }
    .gif {
        margin: 20px auto 0px auto;
    }
    @media (max-width: '767px') {
        .home-image {
            padding: 0px;
            img {
                border-radius: 0;
            }  
        }
        .text {
            font-size: 16px;
            line-height: 1.3;
        }
    }
    @media screen and (max-width: 991px) {  
        .title-text {
            text-align: center;
        }
    }
    @media screen and (max-width: 768px) {  
        .title-text {
            font-size: 25px;
        }
    }
}
