.home-page {
    margin: 20px auto 0px auto;
    color: white;
}

.text {
    margin: auto;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
}

#ask {
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 10px;
}

img {
    width: inherit;
}

#apple {
    position: absolute;
    width: auto;
    margin-top: 10px;
}

.gif {
    margin: 20px auto 0px auto;
}

.gif img {
    border-radius: 10px;
    border: 1px solid black;
}

.buttons {
    display: flex;
}

.buttons button{
    width: 250px;
    text-align: center;
}

#learn-more, #get-the-app {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 20px;
}

.submit {
    background-color: #222;
    border: 1px white solid;
    color: white;
    &:hover {
        background-color: white;
        border: 1px black solid;
        color: black;
    }
}

.back {
    background-color: white;
    color: grey;
    border: 1px solid grey;
}

@media screen and (max-width: 767px) {
    .text h1 {
        text-align: center;
    }
    p {
        margin-top: 10px;
    }
    .buttons {
        display: block;
    }
}