.about {
    color: white;
    .about-header {
        margin: 30px 0px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .about-us {
        text-align: center;
    }
}