#account-panel {
    right: 0;
    text-align: left;
}

.profile-icon {
    width: 40%;
    margin: 10px auto;
    img {
        width: 100px;
    }
}

#profile-name {
    text-align: center;
    padding-top: 0px;
}