.post {
    margin-bottom: 1rem;
    .post h4 {
        display: inline;
    }
    hr {
        margin: 10px -15px 0px;
        background: black;
        height: 1px;
    }
    .comment-section {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    .author {
        font-style: italic;
        color: black;
    }
    a {
        color: black;
    }
}

.box {
    background: white;
    padding: 10px 15px 5px 15px;
    z-index: -1;
    border: 1px solid black;
    border-radius: 7px;
    color: black;
}

.comment-icon {
    height: 28px;
    width: 28px;
    margin-right: 5px;
}

.post-date {
    float: right;
}

.post-footer a {
    color: black;
}

.comment-section {
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .author {
        float: right;
    }
}

@media screen and (max-width: 768px) {
    .post h4 {
        font-size: 20px;
    }
}