.how-it-works {
    color: white;
    .how-it-works-header {
        margin-top: auto;
        margin-bottom: auto;
    }
    .section {
        margin-top: 20px;
        .section-text {
            font-size: 20px;
            margin: 10px auto 20px;
        }
        @media (max-width: '767px') {
            .section-text {
                font-size: 18px;
                line-height: 1.3;
            }
        }
        .person {
            font-style: italic;
        }
    }
}

@media screen and (max-width: 767px) {
    .how-it-works-header {
        margin-bottom: 20px;
    }
    #meg-campaign-video {
        height: 167px;
    }
}