.navbar {
    background-color: #eee;
    font-size: 16px;
    border-bottom: 1px solid grey;
}

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
    color: #21a1af;
}

.search {
    float: right;
}

@media screen and (max-width: 768px) {
    .search {
        display: none;
    }
}