body {
    background-image: url(http://www.dreamtemplate.com/dreamcodes/bg_images/color/c4.jpg);
    background-attachment: fixed;
}

.page-content {
    padding-top: 15px;
}

@media screen and (max-width: 767px) {
    .page-content {
        padding-top: 80px;
    }
}

input:focus, textarea:focus {
    outline: none;
}

ul {
    padding-left: 0px;
}