body {
    background: #0C6284;
}

.page-content {
    padding-top: 137px;
}

@media screen and (max-width: 767px) {
    .page-content {
        padding-top: 80px;
    }
}

input:focus, textarea:focus, button:focus {
    outline: none;
}

ul {
    padding-left: 0px;
}