.healthy-options {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 50px;
    #just-healthy { 
        background-color:#05F509; 
    }   
    #just-vegetarian { 
        background-color:#0FE913;
    }
    #just-vegan { 
        background-color:#1BD71E;
    }
    #gluten-free { 
        background-color:#2BB92D;
    }
    .options-bubbles {
        margin-top: 20px;
        text-align: center;
        .bubble {
            height: 150px;
            width: 150px;
            font-size: 25px;
            text-align: center;
            margin: 0px 5px 20px;
            border-radius: 50%;
            line-height: normal;
            border: 2px solid grey;
            color:#fff; 
            &:hover {
                font-weight: bold;
            }
        }
        .active {
            font-weight: bold;
        }
    }
}

@media (max-width: 767px) {
    .healthy-options {
        .options-bubbles>.bubble {
            height: 125px;
            width: 125px;
            font-size: 20px;
        }
    }
}